<li>
    {{burger_name}}
    <button class="devoured" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}
        I'm hungry.
        {{else}}
        I'm full.
        {{/if}}
    </button>
</li>