<li>
    <div class="list-item-content">
        {{burger_name}}
        {{#if devoured}}
            <button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
                Devour it!
            </button>
        {{else}}        
        {{/if}}
    </div>
</li>